# Location specific programs to be compiled.  Lines containing # as the
# first character of a line are comments and ignored.
#
# Digitizer drivers : generally site specific - same across several machines
#
# src/mapdev/digitizers/none		# XXX - v.digit not working
# src/mapdev/digitizers/altek
# src/mapdev/digitizers/altek2
# src/mapdev/digitizers/calcomp
# src/mapdev/digitizers/geograph
# src/mapdev/digitizers/hitachi
# src/mapdev/digitizers/kurta
# src/mapdev/digitizers/kurta2
# src/mapdev/digitizers/numonics
#
# Paint drivers : generally site specific - same across several machines
#
src/paint/Drivers/preview
# src/paint/Drivers/preview2
src/paint/Drivers/ppm
# src/paint/Drivers/act2
# src/paint/Drivers/diablo.c150
# src/paint/Drivers/epson.lq2500
# src/paint/Drivers/genicom3310
# src/paint/Drivers/shinko635		# XXX - OBJ.i386-unknown-netbsd1.4/init.o: Undefined symbol `_error' referenced from text segment
src/paint/Drivers/tek4695
# src/paint/Drivers/tek4697
# src/paint/Drivers/versatec
#
# Graphics drivers : generally machine specific
#
# CELL is a driver that creates images in a new raster map.  It is not
# machine specific.
src/display/devices/CELL
src/display/devices/XDRIVER
# src/display/devices/4105
# src/display/devices/GENERIC
# src/display/devices/IGRAPH
# src/display/devices/IRIS
# src/display/devices/MASS
# src/display/devices/SUNVIEW
