


i.target <main>	     GRASS Reference Manual	  <main> i.target



NAME
     i.target -	An interactive imagery function	that establishes
     a GRASS target location and mapset	for an imagery group.
     (GRASS Image Processing Program)

SYNOPSIS
     i.target

DESCRIPTION
     i.target targets an imagery group to a GRASS data base
     location name and mapset. During the imagery program
     i.rectify,	a location name	and mapset are required	into
     which to transfer the rectified file just prior to
     completion	of the program;	i.target enables the user to
     specify this location.  i.target must be run before i.points
     and i.rectify.

     The first prompt in the program asks the user for the name
     of	the imagery group that needs a target.	The imagery group
     must be present in	the user's current mapset.

     The following menu	asking for the target LOCATION NAME and
     MAPSET is displayed:

     Please select the target LOCATION and MAPSET for group <spot>

     CURRENT LOCATION:	location______
     CURRENT MAPSET:  demo___________

     TARGET LOCATION:_________
     TARGET MAPSET:___________

     (Enter list for a list of location	names or mapsets within	a location)


	 AFTER COMPLETING ALL ANSWERS, HIT <ESC> TO CONTINUE
			(OR <Ctrl-C> TO	CANCEL


     An	imagery	group may be targeted to any GRASS location.

NOTES
     This program is interactive and requires no command line
     arguments.

SEE ALSO
     Grass Tutorial: Image Processing

     i.group, i.points,	i.rectify

AUTHOR
     Michael Shapiro, U.S. Army	Construction Engineering Research



GRASS 4.2		Baylor University			1






i.target <main>	     GRASS Reference Manual	  <main> i.target



     Laboratory






















































GRASS 4.2		Baylor University			2



