cell.c:    VIEW_MAP2->cell.configured = 0;
cell.c:    VIEW_MAP2->vect.configured = 0;
cell.c:    G_adjust_window_to_box (&cellhd, &VIEW_MAP2->cell.head, VIEW_MAP2->nrows, VIEW_MAP2->ncols);
clear.c:    VIEW_MAP2->cell.configured = 0;
clear.c:    VIEW_MAP2->vect.configured = 0;
drawcell.c:	colors = &VIEW_MAP2->cell.colors;
drawvect.c:                G_copy( &VIEW_MAP2->cell.head, &cellhd, sizeof(cellhd) );
drawvect.c:               G_copy( &cellhd, &VIEW_MAP2->cell.head, sizeof(cellhd) );
drawvect.c:            G_copy(&cellhd,&VIEW_MAP2->cell.head, sizeof(VIEW_MAP2->cell.head));
drawvect.c:            t = VIEW_MAP2->top;
drawvect.c:            b = VIEW_MAP2->bottom;
drawvect.c:            l = VIEW_MAP2->left;
drawvect.c:            r = VIEW_MAP2->right;
drawvect.c:    	sprintf(msg, "N = %10.2lf   E = %10.2lf",                                           VIEW_MAP2->cell.head.north, VIEW_MAP2->cell.head.east);
drawvect.c:    	sprintf(msg, "S = %10.2lf   W = %10.2lf",                                           VIEW_MAP2->cell.head.south, VIEW_MAP2->cell.head.west);
drawvect.c:            G_copy (&VIEW_MAP2->cell.head, &cellhd, sizeof(cellhd));
drawvect.c:            cellhd.rows = VIEW_MAP2->nrows;
drawvect.c:            cellhd.cols = VIEW_MAP2->ncols;
drawvect.c:            VIEW_MAP2->cell.ns_res = cellhd.ns_res;
drawvect.c:            VIEW_MAP2->cell.ew_res = cellhd.ew_res;
drawvect.c:            G_copy (&VIEW_MAP2->cell.head, &cellhd, sizeof(cellhd));
drawvect.c:            G_adjust_window_to_box (&cellhd,&VIEW_MAP2->cell.head, VIEW_MAP2->nrows,            VIEW_MAP2->ncols);
drawvect.c:	VIEW_MAP2->cell.configured = 1;
graphics.c:    G_init_colors (&VIEW_MAP2->cell.colors);
mark.c:	set_colors (&VIEW_MAP2->cell.colors);
mark.c:	(VIEW_MAP2->cell.configured || VIEW_MAP2->vect.configured))
plotvect.c:        d_top    = (VIEW_MAP2->vect.top); 
plotvect.c:        d_bottom = (VIEW_MAP2->vect.bottom); 
plotvect.c:        d_left   = (VIEW_MAP2->vect.left); 
plotvect.c:        d_right  = (VIEW_MAP2->vect.right); 
plotvect.c:        G_set_window (&VIEW_MAP2->vect.head); 
plotvect.c:        D_do_conversions(&VIEW_MAP2->vect.head, 
vect.c:      if (VIEW_MAP2->vect.configured == 0) {
vect.c:	if (VIEW_MAP2->cell.configured == 1) { /* there a cell in there */
vect.c:	  G_copy (&VIEW_MAP2->vect.head, 
vect.c:		  &VIEW_MAP2->cell.head, sizeof (window));
vect.c:			       VIEW_MAP2->vect.head.ns_res, 
vect.c:			       VIEW_MAP2->vect.head.ew_res);
vect.c:	  G_adjust_window_to_box (&window, &VIEW_MAP2->vect.head, 
vect.c:				  VIEW_MAP2->nrows, VIEW_MAP2->ncols);
where.c:    else if (VIEW_MAP2->cell.configured && In_view (VIEW_MAP2, x, y))
