environment a
initialshells:b
setVAR:""
setVAR1:"A really long string"
{
    menu b
       width:500
       height:500
    (
        label LABEL ;
        button NEWLINE
            setVAR:"$VAR \nAdd a line"
            updateobject:"b:LABEL:$VAR"
            ;
        button TAB
            setVAR1:"${VAR1}\t"
            runforeground:"echo $VAR1"
	    ;
        button BACKSPACE
            setVAR1:"${VAR1}\b"
            runforeground:"echo $VAR1"
	    ;
        button RESET
            setVAR:"BUTTON"
            updateobject:"b:LABEL:$VAR"
	    ;
    )
}
