Source: grass
Section: science
Priority: optional
Maintainer: Debian GIS Project <pkg-grass-general@lists.alioth.debian.org>
Build-Depends: bison | byacc, debhelper (>= 4.0.2), doxygen, fftw-dev, flex, lesstif2-dev, libc6-dev, libfreetype6-dev, libgdal1, libgdal1-dev, libjpeg62-dev | libjpeg-mmx-dev, libncurses5-dev, libpng12-dev, libreadline4-dev, libtiff4-dev, postgresql-client, postgresql-dev, proj (>= 4.4.7), tcl8.3-dev, tk8.3-dev, unixodbc-dev, xlibmesa-gl-dev, xlibmesa-glu-dev, xlibs-dev, zlib1g-dev
Standards-Version: 3.6.1

Package: grass
Architecture: any
Depends: ${shlibs:Depends}
Description: Geographic Resources Analysis Support System
 Commonly referred to as GRASS, this is a Geographic Information
 System (GIS) used for geospatial data management and analysis,
 image processing, graphics/map production, spatial modeling, and
 visualization. GRASS is currently used in academic and commercial
 settings around the world, as well as by many government agencies
 and environmental consulting companies.
