Source: grass
Section: science
Priority: optional
Maintainer: Markus Neteler <neteler@itc.it>
Build-Depends: bison | byacc, c-shell, debhelper (>= 4.0.2), doxygen, fftw-dev, flex, lesstif2-dev, libc6-dev, libfreetype6-dev, libgdal1, libgdal1-dev, libjpeg62-dev | libjpeg-mmx-dev, libncurses5-dev, libpng12-dev, libreadline4-dev, libtiff4-dev, postgresql-client, postgresql-dev, proj (>= 4.4.7), tcl8.3-dev, tk8.3-dev, unixodbc-dev, xlibmesa-gl-dev, xlibmesa-glu-dev, xlibs-dev, zlib1g-dev
Standards-Version: 3.6.1

Package: grass
Architecture: any
Depends: ${shlibs:Depends}
Description: GRASS GIS
 Geographic Resources Analysis Support System, commonly referred to as
 GRASS, is a Geographic Information System (GIS) used for data
 management, image processing, graphics production, spatial modeling,
 and visualization of many types of data. Originally written by the
 U.S. Army Construction Engineering Research Laboratories (USA-CERL)
 branch of the US Army Corp of Engineers as a tool for land management
 and environmental planning by the military, GRASS has evolved into a
 powerful utility with a wide range of applications in many different
 areas of scientific research. GRASS is currently used in academic and
 commercial settings around the world, as well as many governmental
 agencies including NASA, NOAA, USDA, the National Park Service, the
 U.S. Census Bureau, USGS, and many environmental consulting companies.
 The main site is hosted at ITC-irst, Trento, Italy.
