.TH s.sample 1 "" "" "" ""
.SH NAME
\*Ls.sample\*O - Sample a raster file at site locations. 
.br
(GRASS Sites Program)
.SH SYNOPSIS
\*Ls.sample\*O 
.br
\*Ls.sample help\*O
.br
\*Ls.sample\*O 
[\*L-BClq\*O] \*Linput=\*Oname 
[\*Lattr=\*Otype] 
[\*Loutput=\*Oname] 
\*Lrast=\*Oname] 
.SH DESCRIPTION
s.sample samples a GRASS raster map at the site
locations in the input file by either cubic convolution
interpolation, bilinear interpolation, or nearest neighbor
sampling (default).  Category label values may sampled.
.PP
This program may be especially useful when sampling for
cross validation of interpolations whose output is a raster
map.
.SH OPTIONS
.SH Flags:
.VL 4m
.LI "\*L-B\*O
Use bilinear interpolation. 
.LI "\*L-C\*O
Use cubic convolution interpolation. 
.LI "\*L-l\*O
Use raster category label values instead of cell values. Labels
must be numeric.
.LI "\*L-q\*O
Quiet. Cut out the chatter. 
.LE
.SH Parameters:
.VL 4m
.LI "\*Linput=\*Oname
Name of sites list defining sample points. 
.LI "\*Lattr=\*Otype
Site attribute type to use for comparison.
.br

\*LOptions:\*O none, dim, cat, decimal
If none is chosen no comparison will be done.
.LI "\*Lindex=\*Ovalue
Site attribute index to use for comparison.
.br

Ignored when the attribute is none.
.LI "\*Loutput=\*Oname
Optional name of sites list in which output will be
stored.  Standard output is used if this is missing.
.LI "\*Lrast=\*Oname
Name of raster map to be sampled. 
.LI "\*Lz=\*Ovalue
Option scaling factor for values read from raster map.
Sampled values will be multiplied by this factor. If
omitted, this is set to 1.0.
.LE
.SH NOTES
.PP
The output site list will have the easting and northing of the input site list.
The category value will either be the same as the value in the input site list
or a unique value if there were no categories in the input site list.  One
decimal attribute will be output containing either, the cell value of the
raster if no comparison was done (i.e. \*Lattr=none\*O) or it will be the
difference between the cell value and the site list attribute value.
.PP
If \*L-l\*O is specified, it is important that
the raster category label is
numeric. No error checking is done except for "no data"
values as raster category labels. In this instance, a
warning is issued and a zero value is assumed.
.PP
When NULL values are encountered for a cell, zero value is used
instead.  In these cases, more acurrate results may be obtained
by using the default nearest neighbor comparisons.
.PP
This program may not work properly with lat-long data when
the \*L-BC\*O flags are used.
.PP
When interpolation is done (i.e., the \*L-BC\*O flags are
used), values are assumed to be located at the centroid of
grid cells.  Therefore, current resolution settings are
important.
.SH SEE ALSO
\*Ls.random\*O
\*Ls.kcv\*O
\*Lg.region\*O
Image Sampling Methods
(available as 
\*Ls.sample-tutorial.ps.gz\*O) 
.SH BUGS
Please send all bug fixes and comments to the author
or the grass development team. 
.br

<a  
href="http://www.geog.uni-hannover.de/grass/">http://www.geog.uni-hannover/grass/
.SH AUTHOR
\*LJames Darrell McCauley\*O
<A
HREF="mailto:darrell@mccauley-usa.com">,

.br
when he was at: 
\*LAgricultural
Engineering
\*LPurdue University\*O
.PP
Updated for GRASS 5.0 by Eric G. Miller
