               Raster Map Layer Resolution:  An Example

   <- 100 meters  ->                           <- 100 meters  ->
   -----------------            1              -----------------
   |   |   |   |   |            0              |               |
   -----------------            0              |               |
   |   |   |   |   |                           |               |
   -----------------            m              |               |
   |   |   |   |   |            e              |               |
   -----------------            t              |               |
   |   |   |   |   |            e              |               |
   -----------------            r              |               |
   |   |   |   |   |            s              |               |
   -----------------                           -----------------
(a)  20-meter cell resolution           (b)  100-meter cell resolution
(25 cells within a 10,000 sq.m area)    (1 cell within a 10,000 sq.m area)

The map layer at left (in which each cell is 20 meters long and 20 meters
wide) can hold 25 times the amount of data as can be contained in the map
at right (in which each cell is 100 meters long and 100 meters wide).
