.TH i.target
.nh
.SH NAME
\fIi.target\fR \-
An interactive imagery function that establishes a GRASS target location and
mapset for an imagery group.
.br
\fI(GRASS Image Processing Program)\fR
.SH SYNOPSIS
.B i.target
.SH DESCRIPTION
.I i.target
targets an imagery group to a GRASS data base location name and mapset.  
During the imagery program \fIi.rectify\fR,
a location name and mapset are required
into which to transfer the rectified file
just prior to completion of the program;
\fIi.target\fR enables the user to specify this location.
\fIi.target\fR must be run before \fIi.points\fR and \fIi.rectify\fR.

The first prompt in the program asks the user for the name of 
the imagery group that needs a target.  The imagery group
must be present in the user's current mapset.

The following menu asking for the target LOCATION NAME and MAPSET is displayed:

.if t \fB
.ce 1
Please select the target LOCATION and MAPSET for group <\fIspot\fP>

.nf
CURRENT LOCATION:  \fIlocation\fP______
CURRENT MAPSET:  \fIdemo\fP___________
.fi

.nf
TARGET LOCATION:_________
TARGET MAPSET:___________
.fi

.ce 1
(Enter list for a list of location names or mapsets within a location)


.ce 2
AFTER COMPLETING ALL ANSWERS, HIT <ESC> TO CONTINUE
(OR <Ctrl-C> TO CANCEL
\fR

An imagery group may be targeted to any GRASS location.
.SH NOTES
This program is interactive and requires no command line arguments.
.SH SEE ALSO
.I "Grass Tutorial: Image Processing"
.LP
.I i.group,
.I i.points,
.I i.rectify
.SH AUTHOR
Michael Shapiro, U.S. Army Construction Engineering Research Laboratory
